  h3
  {
    font-size: 25px !important;
  }
.btn-success:hover
{
	background-color: red;
}
  
canvas{
  animation-name:animacao;
  animation-duration: 4s;
  animation-iteration-count:infinite;
}

@keyframes animacao {
  from{box-shadow :1px 1px 100px red;}
  to{box-shadow :1px 1px 100px cyan;}
}